<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://emr09store-ios.netlify.app/app1.ipa</string> <!-- Your actual IPA URL -->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.emr09.flappybird</string> <!-- Replace with your actual bundle ID -->
                <key>bundle-version</key>
                <string>3.8</string> <!-- Your app version -->
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>My app</string> <!-- Your app name -->
                <key>subtitle</key>
                <string>Install My App</string> <!-- Subtitle (Optional) -->
                <key>artwork</key> <!-- Adding an App Icon -->
                <dict>
                    <key>kind</key>
                     <string>software-icon</string>
                    <key>url</key>
                    <string>https://emr09store-ios.netlify.app/app-icon.png</string> <!-- Your app icon URL -->
                  </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
